/* selection */
::selection {
    color: red;
    background: yellow;
}

/* navbar start  */
.cont,
.card,
#blog,
.form {
    background-color: black !important;
}

.icon {
    color: #fff;
}

.fa-brands:hover {
    transition: all 0.8s linear;
    transform: rotateY(360deg);
    color: #ffc107 !important;
}

.navbar_screen,
.para_two {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* .nav-link {
    transition: all 0.5s linear;
}

.nav-link:hover{
    color: #ffc107 !important;
} */

.number,
.number_two {
    width: 235px;
    height: 50px;
    border: 1px solid #ffc107;
    transition: all 0.6s linear;
    color: #ffc107;
}

.number_two,
.number_three {
    width: 120px;
    color: #fff;
    border: 1px solid #fff;
}

.number_two:hover {
    color: #ffc107;
    border: 1px solid #ffc107;
}

.number:hover {
    background-color: #ffc107e5;
    color: #fff;
}

.navigation {
    background: rgba(255, 255, 255, 0);
    border-radius: 11px;
    height: 4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

.nav-link {
    background: none !important;
    color: #000000 !important;
    font-weight: bolder;
    border: none !important;
}

.nav-item {
    border: none !important;
}

.card {
    background-color: rgb(0, 0, 0) !important;
    border-radius: 50px !important;
}

button {
    border: none !important;
    outline: none !important;
}

.tab-content {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}

.tab-content::-webkit-scrollbar {
    display: none !important;
}

/* Icons */
/* .bi {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

.bi:hover {
    color: #bebebe;
    font-size: 12px;
    text-decoration: none;
} */

.fa-solid {
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
}

.navbar-toggler {
    display: block;
}

/* Mobile view - Hide the toggle menu */
@media screen and (max-width: 991px) {
    .navbar-toggler {
        display: none;
    }
}

/* navbar end  */

/* section start  */
.main_container {
    width: 100%;
    height: 100%;
    background-color: black;
}

.cake,
.image_section {
    width: 100%;
    height: 690px;
    background-image: url(../images/cakeimage.jpg);
    background-position: center;
    background-size: cover;
}

.box,
.para {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button {
    width: 150px !important;
    height: 35px;
    transition: all 0.5s linear;
    font-size: 13px !important;
}

.button:hover,
.btn:hover {
    border: 1px solid #ffc107;
    color: #ffc107;
    background-color: transparent !important;
}

.image_section {
    background-image: url(../images/video-bg.jpg);
}

.btn {
    width: 110px !important;
    height: 100px !important;
}

.learn {
    width: 90px;
    border-bottom: 1px solid;
    transition: all 0.9s ease-in;
}

.learn:hover {
    width: 100px;
    letter-spacing: 1px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide::before {
    content: "Add to cart";
    position: absolute;
    top: 285px;
    left: 1px !important;
    bottom: 0%;
    width: 100%;
    height: 50px;
    transition: all 0.6s linear;
    padding-top: 10px;
    margin-top: 300px;
}

.swiper-slide:hover::before {
    background-color: #ffc107b4;
    color: black;
    margin-top: 0%;
}

.page {
    border: none !important;
    background-color: #fff !important;
    color: #ffc107 !important;
}

.page:hover {
    background-color: black !important;
}

/* section end */

